


MONGODB_URI=mongodb://seharmukhtar77_db_user:NmsTQ4cKZZDXqzKf@ac-rk5ywog-shard-00-00.zshnrt9.mongodb.net:27017,ac-rk5ywog-shard-00-01.zshnrt9.mongodb.net:27017,ac-rk5ywog-shard-00-02.zshnrt9.mongodb.net:27017/?ssl=true&replicaSet=atlas-8u3zey-shard-0&authSource=admin&appName=Cluster0





JWT_SECRET=change-this-to-a-long-random-secret
PORT=5000
VITE_API_URL=http://localhost:5000/api
